@font-face {
    font-family: 'bud_boldregular';
    src: url('../fonts/bud_bold-webfont.woff2') format('woff2'),
         url('../fonts/bud_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.hidden{
	display: none;
}
html{
	background: rgb(2,0,36);
}


#game_boards{
	width: 1280px;
	height: 800px;
	margin: 0 auto;
	background: url(../images/bgc.png) no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

#game_boards h2 {
	font-family: 'bud_boldregular', Arial, serif;
	font-size: 73px;
	color: white;
	color: transparent;
    -webkit-text-stroke: 4px white;
    text-align: center;
    padding-top: 25px;
 
 
}


#leftDrag1, #leftDrag2, #leftDrag3, #leftDrag4{
	width:150px;
	height: 150px;
	background-color: black; 
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}


#rightDrag1, #rightDrag2, #rightDrag3, #rightDrag4{
	width:150px;
	height: 150px;
	background-color: black; 
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}

#left_drag{
	float: left;
	margin-left: 88px;
}

#right_drag{
	float: right;
	margin-right: 88px;

}


#drop_zone{

	margin: 150px auto;

}

.left_drop{
	width:150px;
	height: 150px;
	margin-left: 90px;
	background-color: transparent;
    border-radius: 50%;
    border: 5px solid #F21D7A;
    float: left;
	display: table-cell;
	line-height: 150px;
	text-align:center;  
}



.right_drop{

	width:150px;
	height: 150px;
	margin-right: 95px;
	background-color: transparent;
    border-radius: 50%;
    border: 5px solid #32FFFF;
    float: right;
	display: table-cell;
	line-height: 150px;
	text-align:center;
	
}

/* fix drop zone image */
.left_drop img{
	height: 85% !important;
	width: 85% !important;
	margin: 0 auto;
	vertical-align:middle;
	text-align:center;
	
}
.right_drop img{
	height:100% !important;
	width: 100% !important;
	vertical-align:middle;
	text-align:center;
	
}

#mid_Screen{
	width: 721px;
	height: 357px;
	margin: 0 auto;
	opacity: 80%;
	background-image: url(../images/mid-screen.png);
}
/* -----reset button----- */
#resetBtn {
	margin-top: 290px;
	margin-left: 270px;
	font-size: 50px;
	color:white;
	background-color: transparent;
	border: solid white 3px;
	border-radius: 10px;
}
#resetBtn:hover {
	cursor: pointer;
	background-color:yellow;
	color: tomato;
}



/*icon size*/
#leftDrag1 img {
	width: 120px;
	height: 120px;
}
#leftDrag2 img, #leftDrag3 img, #leftDrag4 img{
	width:120px;
	height:120px;
}
#right_drag div img{
	width: 150px;
	height: 150px;
}


/* audio controls */
.audio-controls{
	float: left;
	margin-left: 463px;
	margin-top: 100px;
}
.audio-controls button{
	background-color: tomato;
	color: white;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	margin-right: 50px;
}
.audio-controls button:hover{
	cursor: pointer;
	background-color:yellow;
	color: tomato;
}




