@font-face {
    font-family: 'bud_boldregular';
    src: url('../fonts/bud_bold-webfont.woff2') format('woff2'),
         url('../fonts/bud_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.hidden{
	display: none;
}
body{
	height: 100vh;
}

#game_boards{
	background: url(../images/BG.png) no-repeat;
	width: 1920px;
	height: 1080px;
}

#game_boards h2 {
	font-family: 'bud_boldregular', Arial, serif;
	font-size: 73px;
	color: white;
	color: transparent;
    -webkit-text-stroke: 4px white;
    text-align: center;
    padding-top: 25px;
 
 
}


#leftDrag1, #leftDrag2, #leftDrag3, #leftDrag4{
	width:191px;
	height: 191px;
	background-color: black; 
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}


#rightDrag1, #rightDrag2, #rightDrag3, #rightDrag4{
	width:191px;
	height: 191px;
	background-color: black; 
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}

#left_drag{
	float: left;
	margin-left: 88px;
}

#right_drag{
	float: right;
	margin-right: 88px;

}


#drop_zone{
	width:810px ;
	height:185px;
	margin-top: 762px;
	margin-left: 558px;
}

.left_drop{
	width:185px;
	height: 185px;
	background-color: transparent;
    border-radius: 50%;
    border: 5px solid #F21D7A;
    float: left;
	display: table-cell;
	line-height: 185px;
	text-align:center;  
}



.right_drop{

	width:185px;
	height: 185px;
	background-color: transparent;
    border-radius: 50%;
    border: 5px solid #32FFFF;
    float: right;
	display: table-cell;
	line-height: 185px;
	text-align:center;
	
}

/* fix drop zone image */
.left_drop img{
	height: 85% !important;
	width: 85% !important;
	vertical-align:middle;
	text-align:center;
	
}
.right_drop img{
	height:95% !important;
	width: 95% !important;
	vertical-align:middle;
	text-align:center;
	
}

#mid_Screen{
	float: left;
	opacity: 76%;
	margin-left: 130px;
	position: relative;
}
/* -----reset button----- */
.resetBtn {
	position: absolute;
	top: 450px;
	left: 480px;
	font-size: 50px;
	color:white;
	background-color: transparent;
	border: solid white 3px;
	border-radius: 10px;
}
.resetBtn:hover {
	cursor: pointer;
	background-color:yellow;
	color: tomato;
}



/*icon size*/
#leftDrag1 img {
	width: 140px;
	height: 140px;
}
#leftDrag2 img, #leftDrag3 img, #leftDrag4 img{
	width:120px;
	height:120px;
}
#right_drag div img{
	width: 191px;
	height: 191px;
}


/* audio controls */
.audio-controls{
	float: left;
	margin-left: 463px;
	margin-top: 100px;
}
.audio-controls button{
	background-color: tomato;
	color: white;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	margin-right: 50px;
}
.audio-controls button:hover{
	cursor: pointer;
	background-color:yellow;
	color: tomato;
}




